{% extends 'base.html.twig' %}

{% block title %} Miaw's World{% endblock %}

{% block body %}

    <section class="body">
        <h1 class="body__title">Rejoignez l’univers de MIAW’S WORLD !</h1>
        <h2 class="body__subtitle">Développer et équiper votre héros légendaire</h2>
        <img class="body__img  body__img--ma1" src="{{ asset('img/Magicien.png') }}">
        <img class="body__img  body__img--ma2" src="{{ asset('img/Magicien2.png') }}">
        <img class="body__img  body__img--p1" src="{{ asset('img/personnage.png') }}">
        <img class="body__img  body__img--p2" src="{{ asset('img/personnage2.png') }}">

        <img class="body__img body__img--sword" src="{{ asset('img/logo.png') }}">
    </section>


{% endblock %}
